page-aluno {
  h2.aluno-title {
    color: black;
    font-weight: bold;
}

p.aluno-date {
    color: black;
    font-weight: bold;
    font-size: 20px;

}

.img-curso{
  width: 25%;
  height: 25%;
  margin: auto;
  display: block;



}


}


