<!--
  Generated template for the AlunoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>Alunos em Destaque</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="openModal()" color="primary">
          <ion-icon name="add-circle"></ion-icon>
          <ion-icon name="people"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content padding>

    <ion-content  padding>

        <ion-card *ngFor="let aluno of alunos">

  <ion-item *ngIf="!erro"  text-center>

    <h2 class="aluno-title">{{aluno.nome}}</h2>
    <p class="aluno-date">{{aluno.matricula}}</p>
    <img *ngIf="aluno.curso.id===1" class="img-curso"  src="./assets/imgs/curso-sistemas.jpg">
    <img *ngIf="aluno.curso.id===2" class="img-curso"  src="./assets/imgs/curso-medicina.jpg">
    <img *ngIf="aluno.curso.id===3" class="img-curso"  src="./assets/imgs/curso-nutricao.jpg">
    <img *ngIf="aluno.curso.id===4" class="img-curso"  src="./assets/imgs/curso-engenharia.jpg">

  </ion-item>

  <h2 *ngIf="erro" class="msg-erro">Erro ao carregar alunos, tente novamente</h2>






  </ion-card>

</ion-content>
